html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #c5dfe5;
  font-family: sans-serif;
}
.caculator {
  width: 221px;
  height: 254px;
  background-color: #f0ede6;
  padding: 12px;
  border: 1px solid #CAC3B1;
  border-radius: 5px;
  color: #715d54;
  box-shadow: 0 5px 30px 0px rgba(41, 124, 174, 0.84);
  .screen {
    height: 41px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    line-height: 41px;
    text-align: right;
    padding: 0 8px;
    overflow: hidden;
    border: 1px solid #DCD9D2;
    box-shadow: 0 13px 30px 0px rgba(0, 0, 0, 0.1) inset;
  }
  .keyboard {
    margin-top: 10px;
    position: relative;
  }
}
